# Ignore all backup files
*~

# Ignore build artifacts
bin/*

# Ignore python compiled files
*.pyc

# Ignore msvc temp files
build/msvc-9.0/*.ncb
build/msvc-9.0/*.suo
build/msvc-9.0/*.user

# Ignore codeblocks tmp files
build/codeblocks/*.depend
build/codeblocks/*.layout
